.root {
    -fx-background-color: #f0f0f0;
}

.label {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-size: 36px;
    -fx-text-fill: #333333;
}

.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.image-view:hover {
    -fx-effect: dropshadow(three-pass-box, #007bff, 20, 0, 0, 0);
}
